body {
  background-color: #fbf6df;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.full-width {
  width: 100%;
  margin-bottom: -1em;
}

/* pie de la pagina */
footer {
  padding: 1rem;
}

.encabezado {
  font-size: 1.05rem;
  font-weight: 400;
  font-style: italic;
  color: rgb(74, 74, 74);
  padding-bottom: 0.5em;
  border-bottom-style: solid;
  border-bottom-width: 4px;
  border-color: #8c8c8c;
  margin-bottom: 0.8em;
}

.rb-seleccion {
  margin-left: 60px;
  margin-right: 10px;
}

.pagoTarjeta {
  margin-left: 20px;
}

/* todos los formularios */
form {
  background-color: #fdfdfd;
  border-radius: 0.5rem;
  border-style: solid;
  border-color: #fdfdfd;
  border-width: thick;
  margin: 30px 50px 20px 100px;
  padding: 1em;
  box-shadow: 0rem 0rem 2rem 0.5rem rgba(169, 169, 169, 0.792);
}

/* espacio en los botones contenidos en un div con esta clase */
.botones {
  border-radius: 2rem;
  color: white;
  float: right;
  margin: 10px 20px 20px 0px;
  padding-left: 2.5em;
  padding-right: 2.5em;
}

.btnGrabar {
  background-color: #3d8361;
  margin-right: 50px;
}

.btnCancelar {
  background-color: #c6bd94;
}

.mensajesAlert {
  margin: 1rem 0.15rem 0rem 0.15rem;
}

.paginador {
  background-color: #e9ecef;
  padding: 0.5rem 1rem 0rem 1rem;
  margin-top: -1rem; /* para pegarlo a la tabla */
}

/* todos los imput a mayusculas, y no sus placeholders*/
input {
  text-transform: uppercase;
  /*separa renglones*/
}
::placeholder {
  text-transform: none;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
