body {
  background-color: #e5ecd7;
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.full-width{
  width: 100%;
}

/* pie de la pagina */
footer {
  padding: 1rem;
}
  
.encabezado {
  font-size: 1rem;
  font-weight: 400;
  font-style: italic;
  color: rgb(121, 121, 121);
  border-bottom-style: solid;
  border-color: rgb(202, 202, 202);
  border-bottom-width: thin;
  padding-bottom: 0.1em;
  margin-bottom: 1em;
}

.rb-seleccion {
  margin-left: 60px;
  margin-right: 10px;
}

.pagoTarjeta {
  margin-left: 15px;
}

/* todos los formularios */
form {
  background-color: #f7f7f7;
  border-radius: 0.5rem;
  border-style: solid;
  border-color: #f7f7f7;
  border-width: thick;
  margin: 59px 50px 20px 100px;
  padding: 1em;
  box-shadow: 0rem 0rem 2rem 0.5rem rgb(192, 192, 192);
}

.row {
  margin-bottom: 1em;
}

/* espacio en los botones contenidos en un div con esta clase */
.botones {
  border-radius: 2rem;
  color: white;
  float: right;
  margin: 10px 20px 20px 0px;
  padding-left: 2.5em;
  padding-right: 2.5em;
}

.btnGrabar {
  background-color: #3d8361;
  margin-right: 50px;
}

.btnCancelar {
  background-color: #d6cda4;
}

/* mensajes de validacion */
.validacion {
  color: rgb(255, 0, 0);
  font-size: 0.9em;
  font-style: italic;
  padding-bottom: 0em;
}

/* mensajes de alerta al buscar y grabar */
.mensajesAlert {
  /* color: #495057; */
  margin: 0rem 0.5rem 0rem 0.5rem;
}

.paginador {
  background-color: #e9ecef;
  padding: 0.5rem 1rem 0rem 1rem;
  margin-top: -1rem; /* para pegarlo a la tabla */
}

/* todos los imput a mayusculas, y no sus placeholders*/
input {
  text-transform: uppercase;
  /* margin-bottom: 0.2em;  */
  /*separa renglones*/
}
::placeholder {
  text-transform: none;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

