<div class="row">
  <div class="col-md-7">
    <form name="formRegistro" [formGroup]="FormRegistro">
      <mat-card-content>
        <div class="encabezado">
          {{ DirecDeEntrega }}
        </div>
        <!--campo Calle-->
        <div class="row">
          <div class="col-md-8">
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Calle...</mat-label>
              <input
                formControlName="Calle"
                matInput
                [errorStateMatcher]="Matcher"
                required
              />
            </mat-form-field>
            <mat-error
              *ngIf="
                (FormRegistro.controls['Calle'].touched || Submitted) &&
                FormRegistro.controls['Calle'].hasError('required')
              "
            >
              Dato <strong>requerido.</strong>
            </mat-error>
            <mat-error
              *ngIf="
                (FormRegistro.controls['Calle'].touched || Submitted) &&
                FormRegistro.controls['Calle'].hasError('pattern')
              "
            >
              Dato texto, 4 a 55 caracteres.
            </mat-error>
          </div>

          <!--campo Numero-->
          <div class="col-md-4">
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Número...</mat-label>
              <input
                formControlName="Numero"
                matInput
                [errorStateMatcher]="Matcher"
              />
            </mat-form-field>
            <mat-error
              *ngIf="
                (FormRegistro.controls['Numero'].touched || Submitted) &&
                FormRegistro.controls['Numero'].hasError('required')
              "
            >
              Dato <strong>requerido.</strong>
            </mat-error>
            <mat-error
              *ngIf="
                (FormRegistro.controls['Numero'].touched || Submitted) &&
                FormRegistro.controls['Numero'].hasError('pattern')
              "
            >
              Dato numérico, 1 a 7 dígitos.
            </mat-error>
          </div>
        </div>
        <!--campo Ciudad-->
        <div class="row">
          <div class="col-md-8">
            <mat-form-field
              class="full-width"
              appearance="outline"
              style="margin-bottom: 0.2em"
            >
              <mat-label>Ciudad...</mat-label>
              <mat-select
                formControlName="Ciudad"
                [errorStateMatcher]="Matcher"
                required
              >
                <mat-option
                  *ngFor="let ciudad of OpcionesCiudad"
                  [value]="ciudad.value"
                >
                  {{ ciudad.Nombre }}
                </mat-option>
              </mat-select>
              <mat-error
                *ngIf="
                  (FormRegistro.controls['Ciudad'].touched || Submitted) &&
                  FormRegistro.controls['Ciudad'].hasError('required')
                "
                style="font-size: 14px"
                >Dato <strong>requerido.</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>

        <!-- campo Aclaraciones -->
        <div class="row">
          <div class="col-md-12">
            <mat-form-field class="full-width" appearance="outline">
              <textarea
                matInput
                formControlName="Aclaraciones"
                placeholder="Aclaraciones"
                matInput
              ></textarea>
            </mat-form-field>
          </div>
        </div>

        <br />

        <div class="encabezado">
          {{ FormaDePago }}
          <input
            type="radio"
            class="rb-seleccion"
            name="Pago"
            id="efectivo"
            checked="checked"
            (click)="mostrarCamposPago($event)"
          />Efectivo
          <input
            type="radio"
            class="rb-seleccion"
            name="Pago"
            id="Tarjeta"
            (click)="mostrarCamposPago($event)"
          />Tarjeta de Crédito/Débito
        </div>

        <!--campo Monto-->
        <div class="row" *ngIf="FlagPagoEfectivo">
          <div class="col-sm-8 col-md-6">
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Monto...</mat-label>
              <input
                formControlName="Monto"
                type="number"
                matInput
                [errorStateMatcher]="Matcher"
                [(ngModel)]="Monto"
              />
            </mat-form-field>
            <mat-error
              *ngIf="
                (FormRegistro.controls['Monto'].touched || Submitted) &&
                FormRegistro.controls['Monto'].hasError('required')
              "
            >
              Dato <strong>requerido.</strong>
            </mat-error>
            <mat-error
              *ngIf="
                (FormRegistro.controls['Monto'].touched || Submitted) &&
                Monto < Total
              "
            >
              El monto debe ser mayor al total del pedido.
            </mat-error>
            <mat-error
              *ngIf="
                (FormRegistro.controls['Monto'].touched || Submitted) &&
                FormRegistro.controls['Monto'].hasError('pattern')
              "
            >
              Dato numérico, 1 a 5 dígitos.
            </mat-error>
          </div>
        </div>

        <div class="pagoTarjeta" *ngIf="!FlagPagoEfectivo">
          <div class="encabezado">
            {{ DatosDelTitular }}
          </div>
          <div class="row">
            <!-- Nombre Titular -->
            <div class="col-md-6">
              <mat-form-field class="full-width" appearance="outline">
                <mat-label>Nombre...</mat-label>
                <input
                  formControlName="Nombre"
                  matInput
                  [errorStateMatcher]="Matcher"
                  [(ngModel)]="TarNombre"
                />
              </mat-form-field>

              <mat-error
                *ngIf="
                  (FormRegistro.controls['Nombre'].touched || Submitted) &&
                  FormRegistro.controls['Nombre'].hasError('required')
                "
              >
                Dato <strong>requerido.</strong>
              </mat-error>
              <mat-error
                *ngIf="
                  (FormRegistro.controls['Nombre'].touched || Submitted) &&
                  FormRegistro.controls['Nombre'].hasError('pattern')
                "
              >
                Dato texto, 4 a 55 caracteres.
              </mat-error>
            </div>
            <!-- Apellido Titular -->
            <div class="col-md-6">
              <mat-form-field class="full-width" appearance="outline">
                <mat-label>Apellido...</mat-label>
                <input
                  formControlName="Apellido"
                  matInput
                  [errorStateMatcher]="Matcher"
                  [(ngModel)]="TarApellido"
                />
              </mat-form-field>
              <mat-error
                *ngIf="
                  (FormRegistro.controls['Apellido'].touched || Submitted) &&
                  FormRegistro.controls['Apellido'].hasError('required')
                "
              >
                Dato <strong>requerido.</strong>
              </mat-error>
              <mat-error
                *ngIf="
                  (FormRegistro.controls['Apellido'].touched || Submitted) &&
                  FormRegistro.controls['Apellido'].hasError('pattern')
                "
              >
                Dato texto, 4 a 55 caracteres.
              </mat-error>
            </div>
          </div>
          <div class="encabezado">
            {{ DatosDeTarjeta }}
          </div>
          <div class="row">
            <!-- Numero de Tarjeta -->
            <div class="col-md-6">
              <mat-form-field class="full-width" appearance="outline">
                <mat-label>Número...</mat-label>
                <input
                  formControlName="NumeroTarjeta"
                  matInput
                  [errorStateMatcher]="Matcher"
                  [(ngModel)]="TarNumero"
                />
              </mat-form-field>
              <mat-error
                *ngIf="
                  (FormRegistro.controls['NumeroTarjeta'].touched ||
                    Submitted) &&
                  FormRegistro.controls['NumeroTarjeta'].hasError('required')
                "
              >
                Dato <strong>requerido.</strong>
              </mat-error>
              <mat-error
                *ngIf="
                  (FormRegistro.controls['NumeroTarjeta'].touched ||
                    Submitted) &&
                  FormRegistro.controls['NumeroTarjeta'].hasError('pattern')
                "
              >
                No se reconoce como tarjeta Mastercard.
              </mat-error>
            </div>
            <!-- Codigo de Seguridad -->
            <div class="col-md-3">
              <mat-form-field class="full-width" appearance="outline">
                <mat-label>CNN...</mat-label>
                <input
                  formControlName="CodigoSeguridad"
                  matInput
                  [errorStateMatcher]="Matcher"
                  [(ngModel)]="TarCodigoSeguridad"
                />
              </mat-form-field>
              <mat-error
                *ngIf="
                  (FormRegistro.controls['CodigoSeguridad'].touched ||
                    Submitted) &&
                  FormRegistro.controls['CodigoSeguridad'].hasError('required')
                "
              >
                Dato <strong>requerido.</strong>
              </mat-error>
              <mat-error
                *ngIf="
                  (FormRegistro.controls['CodigoSeguridad'].touched ||
                    Submitted) &&
                  FormRegistro.controls['CodigoSeguridad'].hasError('pattern')
                "
              >
                Dato numérico, 3 dígitos.
              </mat-error>
            </div>
            <!--Fecha de Expiracion-->
            <div class="col-md-3">
              <mat-form-field class="full-width" appearance="outline">
                <mat-label>Fecha Expiración...</mat-label>
                <input
                  matInput
                  [min]="MinDate"
                  formControlName="FechaExpiracion"
                  placeholder="mm/aaaa"
                  [errorStateMatcher]="Matcher"
                  [(ngModel)]="TarFechaExpiracion"
                />
              </mat-form-field>
              <mat-error
                *ngIf="
                  (FormRegistro.controls['FechaExpiracion'].touched ||
                    Submitted) &&
                  FormRegistro.controls['FechaExpiracion'].hasError('required')
                "
              >
                Dato <strong>requerido.</strong>
              </mat-error>
              <mat-error
                *ngIf="
                  (FormRegistro.controls['FechaExpiracion'].touched ||
                    Submitted) &&
                  FormRegistro.controls['FechaExpiracion'].hasError('pattern')
                "
              >
                Dato fecha, formato mm/aaaa.
              </mat-error>
            </div>
          </div>
        </div>
        <br />
        <div class="encabezado">
          {{ CuandoPedido }}
          <input
            type="radio"
            class="rb-seleccion"
            name="MomentoEntrega"
            id="ahora"
            checked="checked"
            (click)="mostrarCamposEntrega($event)"
          />Lo Antes Posible
          <input
            type="radio"
            class="rb-seleccion"
            name="MomentoEntrega"
            id="fechaEspec"
            (click)="mostrarCamposEntrega($event)"
          />Fecha/Hora Específica
        </div>

        <div class="row" *ngIf="FlagHoraEspecifica">
          <!-- Fecha Entrega -->
          <div class="col-md-4">
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Fecha...</mat-label>
              <input
                matInput
                [matDatepicker]="picker"
                formControlName="FechaEntrega"
                [(ngModel)]="FechaEntrega"
                [min]="MinDate"
                [max]="MaxDate"
              />
              <mat-datepicker-toggle
                matSuffix
                [for]="picker"
              ></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <mat-error
              *ngIf="
                (FormRegistro.controls['FechaEntrega'].touched || Submitted) &&
                FormRegistro.controls['FechaEntrega'].hasError('required')
              "
            >
              Dato <strong>requerido.</strong>
            </mat-error>
            <mat-error
              *ngIf="
                (FormRegistro.controls['FechaEntrega'].touched || Submitted) &&
                FormRegistro.controls['FechaEntrega'].hasError('pattern')
              "
            >
              Ingrese una fecha correcta.
            </mat-error>
          </div>
          <!--Hora Entrega-->
          <div class="col-md-4">
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Hora...</mat-label>
              <input
                matInput
                type="time"
                min="08:00:00"
                required
                formControlName="HoraEntrega"
                [(ngModel)]="HoraEntrega"
              />
            </mat-form-field>
            <mat-error
              *ngIf="
                (FormRegistro.controls['HoraEntrega'].touched || Submitted) &&
                FormRegistro.controls['HoraEntrega'].hasError('required')
              "
            >
              Dato <strong>requerido.</strong>
            </mat-error>
          </div>
        </div>
      </mat-card-content>

      <!--texto: Revisar los datos ingresados...-->
      <div
        *ngIf="Submitted && FormRegistro.invalid"
        class="row alert alert-danger mensajesAlert"
      >
        {{ Mensajes["RD"] }}
      </div>
    </form>

    <!-- Botones Grabar y Cancelar -->
    <div>
      <button class="btn botones btnGrabar" (click)="grabar()">Grabar</button>
      <button class="btn botones btnCancelar">Cancelar</button>
    </div>
  </div>

  <div class="col-md-5">
    <form style="margin: 30px 100px 20px 0px">
      <div class="row pedido">
        <div class="col-md-1" style="margin-right: 14px">
          <img
            src="https://3.bp.blogspot.com/-9rHIvHNdgZk/Vxopw3gNXeI/AAAAAAAAZgI/JPNy3hWsdewSP6W-358RHIK-virV8wYsgCLcB/s1600/logo-nuevo.png"
            width="50"
            height="50"
          />
        </div>
        <div class="col-md-10">
          <p style="margin-bottom: -1px; padding-top: 0.5em">
            El Club De La Milanesa
          </p>
          <small>25 - 40 min</small>
        </div>
      </div>
      <div class="row pedido" *ngIf="!FlagBorroPedido">
        <div class="col-md-10">
          <p class="milanesa">Milanesa Napolitana &nbsp; x &nbsp; 1</p>
          <small style="padding-left: 15px">subtotal: $1.199</small><br />
          <small style="padding-left: 15px">envio: $299</small>
        </div>
        <div class="col-md-2">
          <div class="contenedor-btnBorrar">
            <button
              mat-mini-fab
              style="background-color: rgb(254, 83, 83)"
              (click)="borrarPedido($event)"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-10">
          <p class="milanesa">Total:</p>
        </div>
        <div class="col-md-2">
          <p class="milanesa" style="float: right">
            <b>$ {{ Total }}</b>
          </p>
        </div>
      </div>

      <div
        *ngIf="Submitted && FlagBorroPedido"
        class="row alert alert-danger mensajesAlert"
      >
        {{ Mensajes["BP"] }}
      </div>
    </form>
  </div>
</div>
