.contenedor-btnBorrar {
  float: right;
  margin-top: 20px;
  margin-right: 10px;
}

.milanesa {
  padding-top: 12px;
  margin-bottom: 0px;
}

.pedido {
  border-bottom-style: solid;
  border-width: 1px;
  padding-bottom: 0.5em;
}
