.full-width{
    width: 100%;
}

.top-padding{
    padding-top: 3px;
}

.margin-left mat-radio-button:not(:first-child){
    margin-left:10px;
}

.form-container{
    margin: 100px;
}

form {
    background-color: #f7f7f7;
    border-radius: 0.5rem;
    border-style: solid;
    border-color: #f7f7f7;
    border-width: thick;
    margin: 59px 50px 20px 100px;
    padding: 1em;
    box-shadow: 0rem 0rem 2rem 0.5rem rgb(192, 192, 192);
  }

  .encabezado {
    font-size: 1rem;
    font-weight: 400;
    font-style: italic;
    color: rgb(121, 121, 121);
    border-bottom-style: solid;
    border-color: rgb(202, 202, 202);
    border-bottom-width: thin;
    padding-bottom: 0.1em;
    margin-bottom: 1em;
  }